/* This code is from CodeAcademy example */

body {
    background-color: rgb(239, 217, 202);
  }
  
  /* .container, .container-fluid {
    background-color: rgb(109, 240, 194);
    border: black solid 15px;
    color: rgb(0, 0, 0);
  }
  
  .row {
    background-color: rgb(236, 93, 23);
    border: rgb(255, 199, 64) solid 10px;
  }
  
.title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
